body{
    
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png);
    height:500vh;
    width:100vw ;
    background-size: 100%;
    overflow: hidden;

}
#astronaut-1{
    height: 500px;
    position: absolute;
    top: 5%;
    left: 14%;
    animation: floating 5s infinite;
}
@keyframes floating{
    0%{transform: translateY(0px);}
    50%{transform: translateY(30px);}

}
#astronaut-2{
    height: 400px;
    position: absolute;
    top: 300px;left: 500px;
    animation: floating 5s infinite;
}
@keyframes floating{
    0%{
        transform: translateY(0px);
      }
    50%{
        transform: translateY(30px);
    }

}
form{
    position: absolute;
    top: 15%;left: 65%;
    width: 350px;
    height: 500px;
    padding-left: 0px,75px;
    background-color: antiquewhite;
    display: inline-block;
}
h2{
    text-align: center;
}
#country{
   position: relative;
   left: 70px;
    
}
#country-name{
    position: relative;
    left: 40px;
    width: 150px;
    height: 30px;
}
#number{
    position: relative;
    left: 40px;
}
#space-travellers{
    position: relative;
    left: 40px;
}